.bg-dark1{
	background-color: #475056;
}
.bg-dark2{
	background-color: #66e4f2;
}
.btn-dark2:hover {
    color: #fff;
    background-color: #435a69;
    font-weight: 500;
}
.bg-dark3{
	background-color: #435a69;
}

.colorAgua{
	color: #66e4f2;
}
.imgSlider{
	height: 500px;
	width: 100%;
}
.nosotros{
	width: 100%;
	height: 500px;
}
.navbar-brand>img {
    display: block;
    width: 60%;
}

.btnPropio: hover img{
	transform: scale(1.1) !important;
}

a>span{
	font-family: 'Poppins-Thin';
}
a{
	font-family: 'Poppins-SemiBold';
}
a>button{
	font-family: 'Poppins-Light';
}
.flotante{
	border: none;
    display: block;
    position: fixed;
    bottom: 50%;
    right: -3%;
    z-index: 1;
    transform: rotate(-90deg);
}
div>p{
    margin-bottom: 0rem;
}

.card-img {
    width: 10%;
    margin: 5rem 4rem;
}
.card-img-overlay {
    position: absolute;
    top: 10%;
    right: 0%;
    bottom: 73%;
    left: 33%;
    padding: 0rem;
    margin: 1rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}