.bg-dark1{
	background-color: #475056;
}
.bg-dark2{
	background-color: #66e4f2;
}
.bg-dark3{
	background-color: #435a69;
}

.colorAgua{
	color: #66e4f2;
}
.imgSlider{
	height: 500px;
	width: 100%;
}
/*.jumbotron {
    padding: 0rem 0rem !important;
    margin-bottom: 0rem;
}*/

.navbar-brand>img {
    display: block;
    width: 60%;
}
a>span{
	font-family: 'Poppins-Thin';
}
a{
	font-family: 'Poppins-SemiBold';
}
