.bg-dark1{
	background-color: #475056;
}
.bg-dark2{
	background-color: #66e4f2;
}
.btn-dark2:hover {
    color: #fff;
    background-color: #435a69;
    font-weight: 500;
}
.bg-dark3{
	background-color: #435a69;
}

.colorAgua{
	color: #66e4f2;
}
.colorAguaFiltro{
    filter: contrast(0%) sepia(1) hue-rotate(-230deg) saturate(350%);
}
.fuenteSpan{
    letter-spacing: 5px;
    font-family: 'Poppins-Medium';
    font-size: 85%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.colorGris{
    color: #515455;
}
.col-lg-4>a{
    color: unset;
    text-decoration: unset;
}
.container-fluid {
    width: 100%;
    padding: 0px 15px;
}

.imagenCircular{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    left: 50px;
    position: relative;
}
.marcaAgua{
    font-size: 1000%;
    letter-spacing: 65px;
    color: rgba(193, 193, 193, 0.09);
    position: relative;
    top: 57px;
    z-index: 1;
    margin: -6rem 1rem;
    padding: unset;
    font-family: 'Poppins-Medium';
    width: 100%;
    text-align: center;
}
.marcaAgua2{
    font-size: 800%;
    color: rgba(123, 123, 123, 0.18);
    position: absolute;
    z-index: 1;
    left: 17%;
    bottom: 36%;
    font-family: 'Poppins-Bold';
    transform: rotate(-90deg);
    font-weight: 700;
    letter-spacing: 10px;
}
.imgSlider{
	height: auto;
	width: 100%;
}
.nosotros{
	width: 100%;
	height: 500px;
}
.navbar-brand>img {
    display: block;
    width: 60%;
    height: auto;
}

.btnPropio: hover img{
	transform: scale(1.1) !important;
}

a>span{
	font-family: 'Poppins-Thin';
}
a{
	font-family: 'Poppins-SemiBold';
}
a>button{
	font-family: 'Poppins-Light';
}
.flotante{
	border: none;
    display: block;
    position: fixed;
    bottom: 25%;
    right: -50px;
    z-index: 1;
    transform: rotate(-90deg);
}
div>p{
    margin-bottom: 0rem;
}
.card-img {
    width: 60%;
}
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 0%;
    color: #fff;
    text-align: center;
    opacity: .5;
    left: 100%;
}
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 0%;
    color: #fff;
    text-align: center;
    opacity: .5;
    left: 90%;
}

.textCarr{
    font-size: 135%;
    color: #fff;
    font-family: 'Poppins-Thin';
    letter-spacing: 1px;
    line-height: 22px;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}
.textCarr2{
    font-size: 135%;
    color: #566f80ba;
    font-family: 'Poppins-Medium';
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 100;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

#carruselLogos:hover{
    animation-play-state: paused;
}

.imagen{
    width: 150px;
    height: 100px;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
}


.jumbotron {
    margin-bottom: 0rem;
}



/*--------------------slider carrusel logos---------------------*/

.conten {
    align-items: center;
    justify-content: center;
}
.slider1 {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 140px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width:100%;
}

.slider2 {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(100px * 10);
}
    
.slider3 {
        height: 100px;
        width: 250px;
}
.slider1::before,.slider1::after {
    /*background: linear-gradient(to right, rgb(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 25%;*/
}    
.slider1::after {
        right: 0;
        top: 0px;
        transform: rotateZ(180deg);
        
}

.slider1::before {
    left: 0px;
    top: 0;
    z-index: 1;       
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100px * 10))}
    0%{transform: translateX(0);}
}



/*IEXPLORER 10+*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

.imagen{
     width: 150px;
}
.conten {
    align-items: center; 
    justify-content: center; 
}
.slider1 {
    background: white; 
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); 
    height: 140px; 
    margin: auto; 
    overflow:hidden; 
    position: relative; 
    width:100%; 
}

.slider2 {
        animation: scroll 40s linear infinite; 
        display: flex; 
        width: calc(100px * 10); 
}
    
.slider3 {
        height: 100px;
        width: auto;
}
.slider1::before,.slider1::after {
    /*background: linear-gradient(to right, rgb(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
    content: "" ;
    height: 100% ;
    position: absolute ;
    width: 25% ;*/
} 
 
.slider1::after {
     content: "" ;
    height: 1px ;
    position: absolute ;
    width: 1px ;
        right: unset; 
        top:unset; 
        transform: unset; 
        
}

.slider1::before {
    content: "" ;
    height: 1px ;
    position: absolute ;
    width: 1px ;
    left: unset; 
    top: unset; 
    z-index: unset;        
}

@keyframes scroll {
    0% { transform: translateX(0);  }
    100% { transform: translateX(calc(-100px * 10))}
    0%{transform: translateX(0); }
}

}

/*IE 11+

_:-ms-fullscreen, :root .slider1::before,.slider1::after {
 
    background: linear-gradient(to right, rgb(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
    content: "" ;
    height: 100% ;
    position: absolute ;
    width: 25% ;
  }*/

  _:-ms-fullscreen, :root scroll{
    animation: 1000ms ease 0s normal none infinite Pulse-long;
  }


@media (max-width: 991px){
    .marcaAgua2 {
        font-size:600%;
        left:55%;
    }
    .imagenCircular{
        left: 30%;
        height: 300px;
        width: 300px;
    }

}
@media (min-width: 992px) and (max-width: 1199px){
    .marcaAgua2 {
        font-size: 700%;
        left: 0%;
        letter-spacing: 25px;
    }
    .imagenCircular{
        left: 15%;
        height: 200px;
        width: 200px;
    }
}